@import "../../styles/variables.css";

.selectupdate__div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.selectupdate__select {
  min-width: 160px;
  font-family: var(--main-font);
  font-size: 18px;
  border: 1px solid var(--light-blue);
  background: #ffffff;
  padding: 1.5% 3% 1.5% 3%;
  border-radius: 15px;
  -webkit-appearance: none;
  background: url(https://i.ibb.co/mHWH9KW/chevron-down.png) no-repeat right;
  margin-right: 12px;
}

.selectupdate__button {
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--light-blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 3%;
  margin-left: 12px;
  cursor: pointer;
}
