.MonthStadistics__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.MonthStadistics__header {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-left: 5%;
}

.MonthStadistics__border {
    max-width: 100%;
    border: 2px solid #E6E6E6;
    height: 617px;
    padding: 5%;
    background: rgba(117, 181, 199, 0.5);
    border-radius: 20px 20px 0px 0px;
}

.MonthStadistics__graph {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
}

.MonthStadistics__graphtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}