.MonthStadistics__header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.MonthStadistics__div {
    width: 102px;
height: 28px;
left: 43px;
top: 565px;
}

.MonthStadistics__border {
    border: 2px solid #E6E6E6;
    width: 100%;
height: 617px;
background: rgba(117, 181, 199, 0.5);
border-radius: 20px 20px 0px 0px;
}

.MonthStadistics__graph {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
}

.MonthStadistics__graphtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}