@import "../../styles/variables.css";


.header__logo {
    width: 139px;
    height: 53px;
    left: 30px;
    top: 21px;
}

.header__div {
    display: flex;
    align-items: center;
    top: 85px;    
    justify-content: center;
    text-align-last: end;
}

.header__title {    
    width: 193px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    left: 43px;
}

.header__emoji {
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}